/* !Imports */
@import '../css/fonts.css';

/* !Variables */

:root{
    /*? Colors */
    --Iridium: #3D3D3F;
    --Bittersweet:#FE6F5E;
    --white:#fff;

}

/** ///////////////////////////// */
    /** Default  Styles */
/** //////////////////////////// */

.container{
    max-width: 1400px;
    margin: 0 auto;
}


/** ///////////////////////////// */
    /** Header Section Styles */
/** //////////////////////////// */

/*^ nvabr Styles */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.navbar__logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_logo-svg{
    font-size: 1rem;
}

.navbar__logo-text{
    font-size: 2rem;
    margin-left: 0.5rem;
    font-family: 'rubik', Courier, monospace;
    color: var(--Iridium);
}

.navbar__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list-item{
    margin-left: 2rem;
    margin-right: 2rem;
}

.navbar__list-link{
    color: var(--Iridium);
    font-size: 1.2rem;
    font-family: 'rubik-regular', Courier, monospace;
}

.navbar__contact{
    background-color: var(--Bittersweet);
    padding: 1rem 2rem;
    border-radius: 2rem;
}

.navbar__content-link{
    color: var(--white);
    font-family: 'rubik-regular', Courier, monospace;
}

/*^ Navbar Menu Res */

.navbar{
    position: relative;
}
.navbar__menu-res{
    position: absolute;
    width: 10rem;
    height: 100%;
    border: 1px solid red;
}

#menu-btn{
    font-size: 2.4rem;
    color: var(--Bittersweet);
    display: none;
    cursor: pointer;
}

/*^ Landing Section  */
.landing__wrapper{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.landing__wrapper-left{
    margin-top: 10rem;
    width: 50%;
}

.landing__title{
    font-family: 'rubik-bold', Courier, monospace;
    font-size: 4rem;
    color: var(--Iridium);
    position: relative;
    margin-bottom: 1rem;
}

.landing__title span{
    color: var(--Bittersweet);
    border: 4px solid #41BA77;
}

.landing__text{
    font-family: 'rubik-light', Courier, monospace;
    text-align: left;
    margin-top: 4rem;
}

.landing__btns{
    margin-top: 4rem;
    display: flex;
    align-items: center;
}

.landing__btn{
    margin-right: 2rem;
}

.play-btn{
    background-color: var(--white);
    border-radius: 50%;
    padding: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-right: 1rem;
}

.landing__btn{
    background-color: var(--Bittersweet);
    padding: 1rem;
    border-radius: 2rem;
    font-family: 'rubik-regular', Courier, monospace;
    color: var(--white);
}

.landing__btn-play-link {
    color: var(--Bittersweet);
    font-family: 'rubik-regular', Courier, monospace;

}

.laning__btn-play{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

/* ^Right section */

.landing-right{
    width: 50%;
    position: relative;

}

.landing-image{
    margin: 0 auto;
    display: block;
}

.landing-bing{
    position: absolute;
    top: 12rem;
    right: -15rem;
}

.landing-google{
    position: absolute;
    top: 10rem;
    left: 8rem;
}

.landing-linkedin{
    position: absolute;
    top: 2rem;
    left: 14rem;
}

.landing-client{
    position: absolute;
    bottom: 8rem;
    right: -19rem;
    width: 10rem;
}

.landing-star{
    position: absolute;
    top: 2rem;
    right: -18rem;
}

.landing-team{
    position: absolute;
    bottom: 1rem;
    left: -10rem;
}

/*^ Trusted Clients Section */
.trust-clients{
    margin-top: 4rem;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.trust-client-title{
    text-align: center;
    font-family: 'rubik-bold', Courier, monospace;

}

.trust-clients-logos{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}