@media screen and (max-width: 1400px) {

}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {
    .navbar__menu{
        position: fixed;
        top: 0rem;
        padding-top: 2rem;
        left: 0;
        background-color: red;
        height: 100vh;
        flex-direction: column;
    }
    .navbar__list{
        flex-direction: column;
    }
    .navbar__list-item{
        margin-top: 2rem;
    }
    .navbar__contact{
        display: none;
    }
    .menu-btn{
        display: block;
        right: 1rem;
    }
}

@media screen and (max-width: 768px) {


}

@media screen and (max-width: 576px) {

}